@page "/"
@using System.Timers
@using halcon.Data
@using System.Data
@inject IJSRuntime js

<audio loop="loop" autoplay id="bSound">
    <source src="halcon/dashboard/assets/sounds/backgroundeffect.wav"/>
</audio>

<!-- Main content -->
<div class="main-content pyro" id="panel">

    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-default border-bottom
        ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Navbar links -->
                <ul class="navbar-nav align-items-center mr-md-auto" style="cursor: pointer;">
                    <li class="nav-item ">

                        <a class="nav-link nav-link-text"
                           role="button">
                            <img alt="Image placeholder" style="height: 20px"
                                 src="https://media.nidux.net/pull/200/45/10696/logoTienda10696603fb221cfdd5.png"/>
                            Tómbola electrónica
                        </a>
                    </li>
                </ul>

                @*<ul class="navbar-nav align-items-center ml-auto ml-md-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0"
                               href="#"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                        <img alt="Image placeholder"
                                             src="halcon/dashboard/assets/img/theme/team-4.jpg"/>
                                    </span>
                                    <div class="media-body ml-2 d-none d-lg-block">
                                        <span class="mb-0 text-sm font-weight-bold">John Snow</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome!</h6>
                                </div>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-single-02"></i> <span>My profile</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-settings-gear-65"></i>
                                    <span>Settings</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-calendar-grid-58"></i>
                                    <span>Activity</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-support-16"></i> <span>Support</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-user-run"></i> <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>*@

            </div>
        </div>
    </nav>
    <!-- Page content -->
    <div class="container-fluid mt-2">
        <div class="row">


            <div class="col-xl-8">
                <div class="card bg-primary">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">
                                    Rifa apertura Gran Halcón Radial
                                </h6>
                                <h5 class="h3 text-white mb-0">Alcanzando nuevas alturas con un auto nuevo</h5>
                            </div>
                            <div class="col">
                                @if (!running)
                                {
                                    <ul class="nav nav-pills justify-content-end">
                                        <li class="nav-item">
                                            <btn @onclick="Iniciar" class="nav-link nav-link-text py-2 px-3 btn-neutral">
                                                <span class="d-none d-md-block">Girar tómbola</span>
                                                <span class="d-md-none">G</span>
                                            </btn>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="nav nav-pills justify-content-end">
                                        <li class="nav-item">
                                            <p class="text-white h3">
                                                @(seconds - Convert.ToInt32((counter / 1000)))
                                            </p>
                                        </li>
                                    </ul>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <AnimateState Name="@txtTombola" AnimationTime="2s" IsShown=@isShown />
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">
                                    Información de la rifa
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-12">
            <div class="card bg-white">
                <div class="card-header bg-transparent">

                </div>
                <div class="card-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img class="d-block w-100" src="https://images.nidux.net/eyJidWNrZXQiOiJuaWR1eC1zdG9yZXMiLCJrZXkiOiIxMDY5Nlwvc2xpZGVyVW1hcmtldEhENjBkZTJiYTY5MWQ0Ny5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjE5MjAsImhlaWdodCI6MTA4MCwiZml0IjoiY29udGFpbiIsImJhY2tncm91bmQiOnsiciI6MjU1LCJnIjoyNTUsImIiOjI1NSwiYWxwaGEiOjB9fX19--43c100e2d400a477d8261f4c1a61a8c0921b34b90f880462e9efe40c6d344d2c" alt="First slide">
                            </div>
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="https://images.nidux.net/eyJidWNrZXQiOiJuaWR1eC1zdG9yZXMiLCJrZXkiOiIxMDY5Nlwvc2xpZGVyVW1hcmtldEhENjBkZTJiYTY5MWQ0Ny5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjE5MjAsImhlaWdodCI6MTA4MCwiZml0IjoiY29udGFpbiIsImJhY2tncm91bmQiOnsiciI6MjU1LCJnIjoyNTUsImIiOjI1NSwiYWxwaGEiOjB9fX19--43c100e2d400a477d8261f4c1a61a8c0921b34b90f880462e9efe40c6d344d2c" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="https://images.nidux.net/eyJidWNrZXQiOiJuaWR1eC1zdG9yZXMiLCJrZXkiOiIxMDY5Nlwvc2xpZGVyVW1hcmtldEhENjBkZTJiYTY5MWQ0Ny5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjE5MjAsImhlaWdodCI6MTA4MCwiZml0IjoiY29udGFpbiIsImJhY2tncm91bmQiOnsiciI6MjU1LCJnIjoyNTUsImIiOjI1NSwiYWxwaGEiOjB9fX19--43c100e2d400a477d8261f4c1a61a8c0921b34b90f880462e9efe40c6d344d2c" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <!--<footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center text-lg-left text-muted">
                    Elaborado por Kevin Gaitán &copy; 2021 para
                    <a href="https://www.elhalcon.com.ni/"
                       class="font-weight-bold ml-1"
                       target="_blank">
                        El Halcón
                    </a>
                    ,
                    <a href="https://www.creative-tim.com/product/impact-design-system"
                       class="font-weight-bold ml-1"
                       target="_blank">
                        Usando Impact Design de Creative Tim.
                    </a>
                </div>
            </div>
        </div>
    </footer>-->
    </div>
</div>


@code{
    private Coneccion con = new Coneccion();
    private System.Timers.Timer timer;
    bool isShown = false;
    string txtTombola = "";

    private double counter = 0;
    private double maxCounter = 0;

    private int seconds = 10;

    private bool tieneGanador = false;


    bool running = false;

    private DataRow dr = null;

    protected override async Task OnInitializedAsync()
    {
        timer = new Timer {Interval = 1}; // Init inmediatly

        timer.Elapsed += async (sender, args) =>
        {
            if (counter >= maxCounter)
            {
                timer.Stop();

                counter = 0;


                string ganador = Convert.ToString(dr["Nombre"]);

                running = false;

                await InvokeAsync(StateHasChanged);



                await js.InvokeVoidAsync("swal.fire", new
                {
                    title = "El ganador es",
                    text = ganador,
                    icon = "",
                    showConfirmButton= false,
                    backdrop = "rgba(0, 0, 123, 0.4)\n" +
                               "url('halcon/dashboard/assets/img/gifs/winner-icegif-9.gif')\n" +
                               "left top\nno-repeat\n"
                });

                await js.InvokeVoidAsync("stopTheSound");
                
                return;
            }

            if (!running)
            {
                running = true;
            }
            if (Math.Abs(timer.Interval) <= 1)
            {
                timer.Interval = 0.2 * 1000;
            }

            DataTable dataTable = await Task.Run(() => con.EjecutarDataTable("spObtenerUnGanador"));

            if (dataTable != null && dataTable.Rows.Count > 0)
            {
                isShown = false;
                await InvokeAsync(StateHasChanged);

                dr = dataTable.Rows[0];

                txtTombola = Convert.ToString(dr["TagNoDoc"]);
                isShown = true;
                await InvokeAsync(StateHasChanged);
            }

            counter += timer.Interval;
        };
    }


    private async Task Iniciar()
    {
        running = true;

        await js.InvokeVoidAsync("playTheSound");

        this.maxCounter = seconds * 1000;

        timer.Interval = 1; // Init inmediatly
        timer?.Start();
    }

}